.card2 .secao-principal {
  padding: 80px 40px;
  position: relative;
  overflow: hidden;
}

.card2 .conteudo-destaque {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5%;
}

.card2 .secao-principal::after {
  content: "✦";
  position: absolute;
  top: 80px;
  left: 50px;
  font-size: 20px;
  color: #ff6f91;
  opacity: 0.6;
}

.card2 .coluna-texto {
  flex: 1 1 50%;
  animation: aparecerTexto 1.5s ease forwards;
}

.card2 .tag {
  font-size: 24px;
  letter-spacing: 2px;
  color: #777;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  border-left: 3px solid #ff6f91;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.card2 .titulo-destaque {
  font-size: 60px;
  line-height: 1.2;
  color: #000000;
  font-weight: 100;
  margin-bottom: 20px;
}

.card2 .titulo-destaque .destaque {
  color: #ff6f91;
  font-weight: 100;
}

.card2 .descricao-destaque {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
  max-width: 450px;
  margin-bottom: 30px;
}

.card2 .botao {
  display: inline-block;
  padding: 12px 28px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  text-decoration: none;
}

.card2 .botao-primario {
  background: #ff6f91;
  color: #fff;
}

.card2 .botao-primario:hover {
  background: #ff577c;
}

.card2 .coluna-imagem {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card2 .coluna-imagem::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #ffeaea;
  z-index: 0;
}

.card2 .imagem-destaque {
  max-width: 100%;
  z-index: 1;
  opacity: 0;
  transform: scale(0.8) translateY(40px);
  animation: aparecerFlor 1.5s ease forwards;
}

@keyframes aparecerFlor {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes aparecerTexto {
  0% {
    opacity: 0;
    transform: translateX(-80px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

@media (max-width: 992px) {
  .card2 .conteudo-destaque {
    flex-direction: column;
    text-align: center;
  }

  .card2 .coluna-texto {
    order: 2;
  }

  .card2 .coluna-imagem {
    order: 1;
  }

  .card2 .titulo-destaque {
    font-size: 36px;
  }

  .card2 .descricao-destaque {
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 600px) {
  .card2 .titulo-destaque {
    font-size: 28px;
  }

  .card2 .botao {
    padding: 10px 22px;
    font-size: 14px;
  }

  .card2 .coluna-imagem::before {
    width: 280px;
    height: 280px;
  }
}
