
.collections-section {
  text-align: center;
  padding: 40px 20px;
}

.collections-subtitle {
  font-size: 20px;
  font-weight: 250;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2px; /* deixa bem colado no título */
}

.collections-title {
  font-size: 45px;
  font-weight: 400;
  color: #222;
  margin-top: 0; /* remove o espaçamento padrão de cima */
}

.collections-title span {
  font-weight: 400; /* Collections */
  color: #96271f; /* Ajuste a cor conforme sua paleta */
}

.collections-carousel {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.collection-card {
  flex: 0 0 25%; /* 4 por linha no desktop */
  padding: 10px;
  margin: 0px 10px;
  box-sizing: border-box;
  border: #fff 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px; /* altura fixa igual pra todos */
  overflow: hidden;
  border-radius: 7px;
}

.collection-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* garante que todas fiquem na mesma proporção */
  display: block;
  margin: 10px;
}
/* Controles */
.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}

.prev-btn,
.next-btn {
  background: #96271f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 20%;
  font-size: 18px;
  transition: background 0.3s;
}

.prev-btn:hover,
.next-btn:hover {
  background: #2f0e0b;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  height: 12px;
  width: 12px;
  background: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: #96271f;
}

/* Responsividade */
@media (max-width: 900px) {
  .collection-card {
    flex: 0 0 50%; /* 2 por linha */
  }
}

@media (max-width: 600px) {
  .collection-card {
    flex: 0 0 100%; /* 1 por linha */
  }
}
