.card4 h1, h2,h3 {
  font-weight: 700; /* negrito */
}

.card4 p,
span {
  font-weight: 400; /* normal */
}

.card4 .secao-produtos {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.card4 .secao-produtos .subtitulo {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px; /* deixa bem colado no título */
  color: #77777764;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-top: 5px;
}

.card4 .secao-produtos .subtitulo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 80px;
  height: 2px;
}

.card4 .secao-produtos .titulo {
  font-size: 45px;
  font-weight: 400;
  margin-top: 0; /* remove o espaçamento padrão de cima */
  color: #222;
  margin-bottom: 50px;
}

.card4 .secao-produtos .titulo .destaque {
  color: #96271f; /* rosa */
}

.card4 .grade-produtos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card4 .cartao-produto {
  flex: 1 1 250px;
  max-width: 350px;
  background: transparent;
  border: none;
  text-align: center;
  position: relative;
}

.card4 .imagem-produto {
  position: relative;
  display: inline-block;
}

.card4 .imagem-produto img {
  width: 70%;
  height: auto;
  position: relative;
  z-index: 2;
  transition: transform 0.4s ease;
}



.card4 .imagem-produto::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 120px;
  border-radius: 50% 0 0 50%;
  background: #96271fa2;
  z-index: 1;
}

.card4 .imagem-produto img:hover {
  transform: scale(1.05) translateY(-8px);
}

.card4 .nome-produto {
  font-size: 18px;
  margin: 15px 0 8px;
  color: #222;
}

.card4 .info-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25%;
  font-size: 15px;
  margin-top: 6px;
}

.card4 .preco-produto {
  font-weight: 500;
  color: #444;
}

.card4 .avaliacao-produto {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ffb400; /* amarelo da estrela */
  font-weight: 500;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  .card4 .grade-produtos {
    gap: 20px;
  }

  .card4 .secao-produtos .titulo {
    font-size: 28px;
  }
}
