.card8 .depoimentos {
  padding: 100px 20px;
  position: relative;
  font-family: "Jost", sans-serif;
  text-align: center;
  margin-bottom: 5%;
}

.card8 .container-depoimentos {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.card8 .titulo-pequeno {
  font-size: 20px;
  font-weight: 250;
  margin-bottom: 2px; /* deixa bem colado no título */
  color: #8b7d7d;
  letter-spacing: 2px;
}

.card8 .titulo-principal {
  font-size: 45px;
  font-weight: 400;
  margin-top: 0; /* remove o espaçamento padrão de cima */
  color: #333;
  margin-bottom: 30px;
}

.card8 .titulo-principal .destaque {
  color: #96271f;
  font-weight: 400;
}

.card8 .texto-depoimento {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 10px;
}

.card8 .informacoes-cliente {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.card8 .detalhes-cliente {
  text-align: left;
  border-left: 3px solid #96271f;
  padding-left: 12px;
}

.card8 .nome-cliente {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.card8 .cargo-cliente {
  font-size: 14px;
  color: #777;
}

.card8 .avaliacao-cliente .estrela {
  color: #ffb800;
  font-size: 20px;
  margin-left: 4px;
}

.card8 .aspas-inicio,
.card8 .aspas-fim {
  position: absolute;
  font-size: 250px;
  color: rgba(245, 141, 141, 0.2);
  pointer-events: none;
  line-height: 0;
}

.card8 .aspas-inicio {
  left: -100px;
  bottom: -110px;
  color: rgba(245, 141, 141, 0.2);
}

.card8 .aspas-fim {
  right: -20px;
  top: 0px;
}

.card8 .flor-esquerda {
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-50%);
}

.card8 .flor-direita {
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .card8 .informacoes-cliente {
    flex-direction: column;
    gap: 20px;
  }
  .card8 .aspas-inicio,
  .card8 .aspas-fim {
    display: none;
  }
  .card8 .flor-esquerda,
  .card8 .flor-direita {
    display: none;
  }
}
