/*CARROSEL CARD 7*/

body {
  font-family: Arial, sans-serif;
  background: #fffaf7;
  margin: 0;
  padding: 0;
}

.collections-section {
  text-align: center;
  padding: 40px 20px;
}

.collections-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.collections-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.collections-title span {
  color: #f08080;
}

.collections-carousel {
  overflow: hidden;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.collection-card {
  flex: 0 0 25%; /* 4 por linha no desktop */
  padding: 10px;
  margin: 0px 10px;
  box-sizing: border-box;
  border: #fff 4px solid;
}

.collection-img {
  width: 100%;
  display: block;
}
